#!/usr/bin/env bash

# Shared direnv https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Load asdf
if has asdf; then
	use asdf
else
	log_error "See: https://docs.arroyodev.com/setups/setup-asdf-direnv/"
fi

# Env Vars
export POSTGRES_USER="${POSTGRES_USER:-postgres}"
export POSTGRES_PASSWORD="${POSTGRES_PASSWORD:-changeme}"
export PGADMIN_DEFAULT_EMAIL="${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}"
export PGADMIN_DEFAULT_PASSWORD="${PGADMIN_DEFAULT_PASSWORD:-admin}"

